spring:
  main:
    allow-bean-definition-overriding: true

  datasource:
    url: jdbc:h2:~/dallog;MODE=MYSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa

  sql:
    init:
      mode: NEVER

  jpa:
    properties:
      hibernate:
        format_sql: true
    show-sql: true

    hibernate:
      ddl-auto: create

  data:
    web:
      pageable:
        max-page-size: 100

oauth:
  google:
    client-id: hyeonic
    client-secret: 123
    oauth-end-point: https://accounts.google.com/o/oauth2/v2/auth
    response-type: code
    scopes:
      - https://www.googleapis.com/auth/userinfo.profile
      - https://www.googleapis.com/auth/userinfo.email
    token-uri: https://oauth2.googleapis.com/token

cors:
  allow-origin:
    urls: http://localhost:3000

security:
  jwt:
    token:
      secret-key: fsmjgbdafmjgbasmfgadbsgmadfhgbfamjghbvmssdgsdfgdf
      expire-length: 3600000
