name: Frontend CI

on:
  pull_request:
    branches:
      - main
      - develop
    paths:
      - frontend

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "14"

      - name: Install node packages
        run: npm install

      - name: Check lint
        run: npm run check-lint

      - name: Check prettier
        run: npm run check-prettier

      - name: Build
        run: npm run build

      - name: Component test
        run: npm run test
